.container1, .container2, .container3, .container4{
	width: 20%;
	float: left;
	align-items: center;
}

.changing1, .changing2, .changing3, .changing4{
	width: 5%;
    padding-left: 20%;
}

.container{
	width: 100%;
	align-items: center;
}