<!doctype html>
<html>
  <head>
    <script src="http://momentjs.com/downloads/moment.min.js"></script>
    <script src="http://code.jquery.com/jquery.min.js"></script>
    <script src="https://rawgithub.com/quarterto/Estira/master/index.js"></script>
    <script src="{{ url_for('static', filename='scripts/elessar.js') }}"></script>
    <script src="{{ url_for('static', filename='scripts/require.js') }}"></script>
    <script src="{{ url_for('static', filename='scripts/main.js') }}"></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='elessar.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
  </head>
  <body>
    <div class="container1" role="main1">
      <pre class="changing1"></pre>
    </div>
    <div class="container2" role="main2">
      <pre class="changing2"></pre>
    </div>
  </body>
</html>
